@font-face {
	font-family: "iconfont";
	/* Project id 3859505 */
	src: url('https://at.alicdn.com/t/c/font_3859505_1xkl82mb5j3.woff2?t=1673404094275') format('woff2'),
		url('https://at.alicdn.com/t/c/font_3859505_1xkl82mb5j3.woff?t=1673404094275') format('woff'),
		url('https://at.alicdn.com/t/c/font_3859505_1xkl82mb5j3.ttf?t=1673404094275') format('truetype');
}

.iconfont {
	font-family: "iconfont" !important;
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-Orange:before {
	content: "\e64d";
}
